.FeaturedGamesTitle {
  font-weight: normal;
  font-size: 24px;
}
.FeaturedContentContainer{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.FeaturedGamesContainer{
  display: flex;
  flex-wrap: wrap;
}
.FeaturedGamesContainer *{
  flex: 0 0 33.333333%;
}

.GameContainer {
  margin: 0 10px 10px 0;
  border: 1px solid #777777;
  border-radius: 4px;
  color: #ffffff;
}
.GameHeaderContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 150px;
  padding: 8px;
}
.GameHeader {
  background: #BDBCFF;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.GamePrice {
  margin-top: auto;
  align-self: flex-end;
}

.GameContent {
  color: #000000;
  padding: 8px 16px;
}

.AddToLibraryBtn {
  color: #ffffff;
  border: #6C69FF;
  border-radius: 4px;
  background: #6C69FF;
  width: 100%;
  height: 32px;
}

.GameContent > p{
  min-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
