.SearchContainer {
  display: flex;
  flex-direction: column;
}

.SearchRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SearchBtn {
  background: #6C69FF;
  border: #6C69FF;
  color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 75px;
  height: 32px;
  margin-left: 5px;
}

#inputSearchGame {
  height: 26px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #777777;
}


